<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">SymShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            {% for c in categoryRepository.findAll %}
                <li class="nav-item">
                    <a href="{{ path('product_category', {slug: c.slug}) }}" class="nav-link">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('cart_show') }}" class="nav-link">
                    <i class="fas fa-shopping-cart mr-2"></i>Panier ({{ cartService.total / 100 }} €)
                </a>
            </li>
            {% if app.user %}
                <li class="nav-item"><a href="{{ path('purchase_index') }}" class="nav-link">Mes Commandes</a></li>
                <li class="nav-item"><a href="{{ path('security_logout') }}" class="btn btn-danger">Déconnexion</a></li>
            {% else %}
                <li class="nav-item"><a href="#" class="nav-link">Inscription</a></li>
                <li class="nav-item"><a href="{{ path('security_login') }}" class="btn btn-success">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
